/* Scrollbar */

::-webkit-scrollbar{
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: #02bdde;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
	background-color: #fff;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
/* legenda */
.legenda{
	font-size: 12px; 
}
/* Elementos da página */

.recuo{
	text-indent: 4em;
}

.citacao-direita{
	float: right;
	margin: 10px 10px;
	border-radius: 30px 0px 0px 30px;
	font-size: 12px;
	padding: 8px 8px 8px 8px;
}

.citacao-esquerda{
	float: left;
	margin: 20px 20px;
	border-radius: 30px 0px 0px 30px;
	font-size: 12px;
	padding: 8px 8px;
}

.separador{
	background: #E9E9E9 !important;
	color: #000000 !important;
}
.separador p{
	padding: 0px;
	color: #000000 !important;
}

footer{
	background: #E9E9E9 !important;
	color: #222;
}

.text-leitura {
	font-style: italic;
	width: 90%;
	
}

.quadro {
	display: flex;
	flex-direction: column;
	gap: 2px;

}

.quadro p{
	margin: 0;
}

.quadro_titulo_principal {
	display: flex;
	gap: 2px;
}

.quadro_titulo_principal p{
	width: 100%;
}

.quadro_titulo {
	display: flex;
	background-color:#02bdde;
	font-weight: bold;
	padding: 5px;
	align-items: center;
}

.matriz {
	width: 30% !important;
	text-align: center;
	justify-content: center;

}

.quadro_barra_1 {
	display: flex;
	gap: 2px;
}

.quadro_barra_1 p{
	padding: 3px;
	background-color: #97efff;
	width: 100%;
}

.quadro_barra_2 {
	display: flex;
	gap: 2px;
}

.quadro_barra_2 p{
	padding: 3px;
	background-color: #c3f3fc;
	width: 100%;
}

.prints {
	border: 3px solid #02bdde;
	border-radius: 10px;
}
/* Contraste */

.sup-contraste {
	background: #1b1e23 !important;
	color: white !important;
}